.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.MuiToggleButton-label {
	text-transform: lowercase;
	font-weight: 400;
	letter-spacing: 0;
}
