.App {
  text-align: left;
  /* background-color: #FDF9EB; */
  width: 100%;
  height: 100%;
  overflow: "hidden";
}
.MuiInput-underline::before,
.MuiInput-underline::after {
  display: none;
}
.video-react .video-react-fullscreen-control {
  display: none;
}
.video-react .video-react-progress-control {
  padding-right: 5px;
}
.MuiSvgIcon-root.MuiSelect-icon {
  top: calc(50% - 15px);
  right: 5px;
}
.MuiToggleButton-root.Mui-selected {
  background-color: #228b6e !important;
  color: #ffffff !important;
}
.MuiSelect-select:focus {
  background-color: transparent !important;
}
